* {
    font-family: Arial, Helvetica, sans-serif;
}

#buttons {
    text-align: center;
}

#map {
    height: 100vh;
    width: 100%;;
}

button {
    cursor: pointer;
}

.whatsapp-button {
    background-color: lightgray;
    border-radius: 10px;
    position: fixed;
    bottom: 40px; 
    right: 20px; 
    z-index: 9999; 
}

.whatsapp-p{
    color: #25D366;
    background-color: lightgray;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    bottom: 17px; 
    right: 20px; 
    z-index: 9999; 
}


@media (max-width: 450px){
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: 100vw;
    }
}